*{margin: 0; padding: 0;} 
body,html{
    height: 100%;
    width: 100%;

}
.logomenu{
    width: 200px;
    height: 100px;
}
nav.navbar.navbar-expand-lg.navbar-light.bg-light {
    margin: 0;
    padding: 0;
  
    background-color: white !important;
}
a.nav-link{
    text-transform: uppercase;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    color:#101010;
    line-height: 79px;
}
a.nav-brand{
    padding: 0;
    margin: 0;
}
li.nav-item{
    margin: 0 17px;
    padding: 0;
    margin-right:10px;
}
.xuong{
    width: 40px;
    height: 77px;
    border: 1px solid white;
    position:absolute;
    left: 50%;
    border-radius:30px;
    bottom: 2%;
    z-index: 2;
    margin-left: -20px;
    cursor: pointer;
    transition: 0.4s;
   
}

.xuong:hover{
    bottom: 4%;
}
.xuong::after{
    content:"";
    position: absolute;
    width: 4px;
    height: 8px;
    left: 50%;
    bottom: 67%;
    background-color: white;
    margin-left: -2px;
}
.navbar{
    width: 100%;
}
.khoitt1{
    height:700px;
    width: 100%;
    background-color:#e9585f;
    position: relative;
}
.navbar-nav>li>a:hover{
 color:#e9585f !important;
}
/* ---------------------------------*/
@media (max-width:1199px){
    .xuong{
       margin-top:500px;
    }
    a.nav-link{
        line-height:10px;
        font-size: 16px;
    }
}
@media (max-width:991px){
    a.nav-link{
        line-height:15px;
        font-size: 16px;
    }
    .tt{
        padding-top: 500px;
    }
    .khoitt1{
        padding-top: 200px;
        height:900px; ;
    }
}
@media (max-width:767px){
    .khoitt1{
         padding-top: 100px;
        height:700px; ;
    }
    a.navbar-brand{
      display:inline-block !important;
      text-align: center;
      width: 100%;
    }
    li.nav-item{
        display: inline-block !important;
        float: none !important;
        margin-top: 0;
        margin-bottom: 0;
        margin-right: 20px;
    }
    ul.navbar-nav.ml-auto.mt-2.mt-lg-0 {
        float: none  !important;
        display: inline !important;
        text-align: center;
    }
    .xuong{
        display: none;
    }
}
@media (max-width:575px){
    .logomenu{
      
        height: 90px;
    }
    a.navbar-brand{
      display:block;
      text-align: center;
      width: 100%;
    }
    a.nav-link{
        line-height: 27px;
        font-size: 15px;

    }
    li.nav-item{
        display: inline-block !important;
        float: none !important;
        margin-top: 0;
        margin-bottom: 0;
        margin-right: 20px;
    }
    ul.navbar-nav.ml-auto.mt-2.mt-lg-0 {
        float: none  !important;
        display: inline-block !important;
        text-align: center;
    }
    .xuong{
        display: none;
    }
    .tt p{
        width:53%; 
    }
    .khoitt1{
       padding-top:160px;
       height:700px; ;
    }
}
@media (max-width:355px){
    .khoitt1{
        padding-top:180px;
        height:700px; ;
     }
     .nameAuthor{
         font-size:20px !important;
     }
     .tt p{
        font-size:15px !important;
     }
}

/* ---------------------------------*/


.khoitt1:before{
    content:"";
    position: absolute;
    left:0;
    top:0;
    width: 50%;
    height: 100%;
    background-color:#e4555b;
    z-index: 1;

}
.tt{
    position: relative;
    z-index: 2;
    padding-top:8%;
    text-align: center;
}
.duy{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 50px;

}
.tt h2{
    color: white;
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 22px;
}
.tt p{
    width: 48%;
    line-height: 24px;
    color: #343a40;
    font-size: 18px;
    margin: auto;
    margin-bottom: 34px;
}

.kinhnghiem{
    font-family: 'Red Rose', cursive;
}
.logopeople{
    width: 320px;
    height: 350px;
}
.tieudecap2{
    font-size:28px;
}
.tieudecap3{
    font-size: 21px;
}
.motaqt{
    font-size: 18px;
    font-weight:600;
}
.content{
    font-size: 16px;
}
@media (max-width:991px){
    .logopeople{
        width: 230px;
        height: 300px;
    }
   
}
@media (max-width:767px){
    .logopeople{
        width: 180px;
        height:230px;
    }
    .kinhnghiem{
        font-size:30px;
    }
    .tieudecap2{
        font-size:24px;
    }
    .tieudecap3{
        font-size: 18px;
    }
    .motaqt{
        font-size: 15px;

    }
    .content{
        font-size: 13px;
    }
    .tt p{
        width: 55%;
    }
   
}
@media (max-width:767px){
    .hoctap{
        margin-top: 20px;
        text-align: center;

    }
    .logo_people{
        text-align: center;
    }
    .lamviec{
        margin-top: 10px;
        text-align: center;
    }
   
}
@media (max-width:486px){
    .tt p{
        width: 60%;
        font-size:17px;
    }
}
/* css cho phần thông tin liên lạc */

.info_contact{
    font-family: 'Red Rose', cursive;
}
.containerInfo{
    position: relative;
    width: 100%;
    height: 200px;
}
.detail_info{
 margin-left:25%;
 margin-right:25%;
 border: 1px solid #343a403b;
 padding-top:30px;
 padding-bottom: 20px;
 position: absolute;
 width: 52%;
 top:0;
 left: 0;
 z-index:5;
 background-color:white;

 }
.emailANDphone{
  margin-left: 30%;
  margin-right: 20%;
  width: 100%;
}
.khoivuong{
    width: 200px;
    height: 100px;
    background-color: #e9585f;
    position: absolute;
    top:38%;
    left:23%;
    z-index:2;
}
@media (max-width:991px){
    .emailANDphone{
        margin-left: 15%;
        margin-right: 10%;
      }
      .khoivuong{
        width: 200px;
        height: 100px;
        top:37%;
        left:22%;
    } 
}
@media (max-width:767px){
    .detail_info{
        margin-left:10%;
        margin-right:25%;
        width:80%;
        }
        .khoivuong{
            width: 200px;
            height: 100px;
            top:38%;
            left:5%;
        }
 
}
@media (max-width:575px){
    .info_contact{
        font-size:30px;
    }
 
}
@media (max-width:431px){
    .emailANDphone{
        margin-left:10% !important;
        margin-right: 10% !important;
        
      }
    .khoivuong {
            width:150px !important;
            height: 100px  !important;
            top:33% !important;
            left:6% !important;
        }
 
}
@media (max-width:391px){
    .emailANDphone{
        margin-left: 13%  !important;
        margin-right: 10%  !important;
        font-size: 15px  !important;
      }
    .khoivuong {
            width:150px !important;
            height: 100px  !important;
            top:25% !important;
            left:6% !important;
        }
 
}



/*phần commemt */
.commentfb{
    font-family: 'Red Rose', cursive;
}
@media (max-width:575px){
    .commentfb{
        font-size: 30px;
    }
 
}


/*xử lí thanh skill bar*/
.skills{
    font-family: 'Red Rose', cursive;
}
.skill-bar {
    padding: 80px 10px 0px 10px;
  }
.progress {
    height: 5px  !important;
    width: 100%;
    background: rgba(255, 255, 255, 0.1) ;
    overflow: visible !important;
    position: relative;
    margin: 0 0 35px 0;
    border-radius: 3px;
  }
  
.progress-bar{
    position: absolute;
    width: 0;
    top: 0;
    left: 0;
    height: 100%;
    background-color:#e9585f !important;
    border-radius: 3px;
    transition: all 3s ease-in-out;
  }
  
.progress-bar .percent-text {
    font-size:39px !important;
    position: absolute;
    top: -110px;
    left: 0;
    font-weight: 600;
    color:#495057 !important;
  }
.progress-bar .percent-text {
    font-size: 39px;
    top: -70px;
    color:#495057 !important;
  }
.skill-bar {
    padding: 32px 10px 0px 10px;
  }
 
  @media (max-width:991px){
   
    .progress-bar .percent-text {
        font-size:25px !important;
        top: -70px;
    
      }
      .font-weight-normal{
        color:#495057 !important;
        font-size:18px;
    }
}
@media (max-width:767px){
   
    .progress-bar .percent-text {
            font-size:25px !important;
            top: -70px;
        
          }
    .font-weight-normal{
            color:#495057 !important;
            font-size:22px;
        }
}
@media (max-width:575px){
   
    .skills{
        font-size:30px;
    }
}

@media (max-width: 429px){
   
    .font-weight-normal{
        color:#495057 !important;
        font-size:17px;
        
    }
}
    
       
/*kết thúc xử lí thanh skill bar*/
  
